body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.buton{
    width: 150px;
    height: 35px;
    top: 50px;
    left: 50%;
    position: absolute;
    background-color: rgba(200, 200, 200, 0.8); /* Şeffaf arka plan */
    color: black;
    border: none;
    border-radius: 15px; /* Modern yuvarlak köşeler */
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 500px) {
    .buton {
        position: relative;
        margin-top: 20px;
        left: auto;
        top: auto;
    }
}

#resetBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Şeffaf arka plan */
    color: black;
    border: none;
    border-radius: 15px; /* Modern yuvarlak köşeler */
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.ders {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.ders h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.ders-listesi {
    list-style: none;
    padding: 0;
}

.ders-listesi li {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.kitaplar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.kitaplar img:last-child {
    margin-right: 0;
}
